specification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SpecificationDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="phoneDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="yearValue" type="xs:unsignedShort" />
              <xs:element name="brandValue" type="xs:string" />
              <xs:element name="modelValue" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmLaunchDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="launchAnnounced" type="xs:string" />
              <xs:element name="launchStatus" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmBodyDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bodyDimensions" type="xs:string" />
              <xs:element name="bodyWeight" type="xs:string" />
              <xs:element name="bodySim" type="xs:string" />
              <xs:element name="bodyBuild" type="xs:string" />
              <xs:element name="bodyOther1" type="xs:string" />
              <xs:element name="bodyOther2" type="xs:string" />
              <xs:element name="bodyOther3" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmDisplayDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="displayType" type="xs:string" />
              <xs:element name="displaySize" type="xs:string" />
              <xs:element name="displayResolution" type="xs:string" />
              <xs:element name="displayProtection" type="xs:string" />
              <xs:element name="displayOther1" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmMemoryDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="memoryCardSlot" type="xs:string" />
              <xs:element name="memoryInternal" type="xs:string" />
              <xs:element name="memoryOther1" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmSoundDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sound35MmJack" type="xs:string" />
              <xs:element name="soundLoudspeaker" type="xs:string" />
              <xs:element name="soundOther1" type="xs:string" />
              <xs:element name="soundOther2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gsmBatteryDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="batteryCharging" type="xs:string" />
              <xs:element name="batteryType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>